# Ignore node_modules (let others install via package.json)
node_modules/

# Ignore build artifacts
/build
/coverage

# Ignore local config files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore IDE-specific files
.vscode/
.DS_Store
*.log